.idea/
*.iml
*.ipr
*.iws
datanucleus.log
*/dependency-reduced-pom.xml
datanucleus.log
target/
admin/target/
appidentity/target/
arquillian/target/
blobstore/target/
bytecode/target/
capabilities/target/
channel/target/
cluster/target/
cluster-tests/target/
common/target/
datastore/target/
environment/target/
files/target/
images/target/
log/target/
mail/target/
memcache/target/
multitenancy/target/
oauth/target/
openshift/target/
prospectivesearch/target/
quota/target/
search/target/
tasks/target/
testsuite/target/
tools/target/
tools/dependency-reduced-pom.xml
urlfetch/target/
users/target/
umpp/target/
xmpp/target/

