#parse("/org/jboss/capedwarf/admin/header.vm")

<h2>Datastore entity: ${datastoreEntity.readableKey}</h2>

Key: ${datastoreEntity.key}

<table>
    <thead>
    <tr>
        <th>Property</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
        #foreach($property in $datastoreEntity.properties)
        <tr>
            <td>#if($property.key) $esc.html($property.key) #end</td>
            <td>#if($property.value) $esc.html($property.value) #end</td>
        </tr>
        #end
    </tbody>
</table>
<p/>
<a href="datastore.vm?key=${datastoreEntity.key}">Delete<a/>
<p/>
<a href="datastoreEdit.vm?key=${datastoreEntity.key}">Edit<a/>

#parse("/org/jboss/capedwarf/admin/footer.vm")
