#parse("/org/jboss/capedwarf/admin/header.vm")

<h2>Datastore viewer</h2>
<form action="datastore.vm">

    <label for="namespaceSelect">Namespace:</label>
    <select id="namespaceSelect" name="selectedNamespace" onchange="this.form.submit()">
        #foreach($namespace in $datastoreViewer.namespaces)
            <option value="$namespace" #if($namespace.equals($datastoreViewer.selectedNamespace)) selected="selected" #end>
                #if($namespace.equals("")) Empty namespace #end
                $namespace
            </option>
        #end
    </select>

    <label for="entityKindSelect">Entity kind:</label>
    <select id="entityKindSelect" name="selectedEntityKind" onchange="this.form.submit()">
        <option value=""></option>
        #foreach($kind in $datastoreViewer.entityKinds)
            <option value="$kind" #if($kind.equals($datastoreViewer.selectedEntityKind)) selected="selected" #end>$kind</option>
        #end
    </select>
    <input type="submit" value="List Entities"/>
</form>

<br/><br/>

#if($datastoreViewer.selectedEntityKind)
    <table width="100%">
        <tr>
            <th>Key</th>
            <th>Write ops</th>
            <th>ID/Name</th>
            #foreach ($property in $datastoreViewer.properties)
                <th>$esc.html($property)</th>
            #end
        </tr>

        #foreach ($row in $datastoreViewer.rows)
            <tr>
                <td><a href="datastoreEntity.vm?key=$row.key">$row.key</a></td>
                <td>$row.writeOps</td>
                <td>$row.idName</td>

                #foreach ($cell in $row.cells)
                    <td>$esc.html($cell)</td>
                #end
            </tr>
        #end
    </table>
#end

#parse("/org/jboss/capedwarf/admin/footer.vm")
