<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
    <link href="res/main.css" rel="stylesheet">
    <title>Capedwarf admin console</title>
</head>
<body>

<div id="container">
    <div id="header">
        <div style="padding: 16px 0 0 220px;"><h1>Admin Console</h1></div>
    </div>

    <div id="sidebar">
        <div id="nav">
            <ul>
                <li id="nav-heading">
                    <span class="nav-heading-section">Main</span>
                    <ul>
                        <li>
                            <a href="#">Dashboard</a>
                        </li>
                        <li>
                            <a href="modules.vm" alt="Modules">Instances</a>
                        </li>
                        <li>
                            <a href="logs.vm">Logs</a>
                        </li>
                        <li>
                            <a href="#">Versions</a>
                        </li>
                        <li>
                            <a href="#">Backends</a>
                        </li>
                        <li>
                            <a href="cronJobs.vm">Cron Jobs</a>
                        </li>
                        <li>
                            <a href="taskQueues.vm">Task Queues</a>
                        </li>
                        <li>
                            <a href="#">Quota Details</a>
                        </li>
                    </ul>
                </li>
                <li id="nav-heading">
                    <span class="nav-heading-section">Data</span>
                    <ul>
                        <li>
                            <a href="#">Datastore Indexes</a>
                        </li>
                        <!--<li class="active">-->
                        <li>
                            <a href="datastore.vm">Datastore Viewer</a>
                        </li>
                        <li>
                            <a href="datastoreStatistics.vm">Datastore Statistics</a>
                        </li>
                        <li>
                            <a href="#">Blob Viewer</a>
                        </li>
                        <li>
                            <a href="#">Prospective Search</a>
                        </li>
                        <li>
                            <a href="search.vm">Text search</a>
                        </li>
                        <li>
                            <a href="#">Datastore Admin</a>
                        </li>
                    </ul>
                </li>
                <li id="nav-heading">
                    <span class="nav-heading-section">Administration</span>
                    <ul>
                        <li>
                            <a href="#">Application Settings</a>
                        </li>
                        <li>
                            <a href="#">Permissions</a>
                        </li>
                        <li>
                            <a href="#">Blacklist</a>
                        </li>
                        <li>
                            <a href="#">Admin Logs</a>
                        </li>
                    </ul>
                </li>
                <li id="nav-heading">
                    <span class="nav-heading-section">Dev Tools</span>
                    <ul>
                        <li>
                            <a href="#">Inbound mail</a>
                        </li>
                        <li>
                            <a href="capabilities.vm">Capabilities status</a>
                        </li>
                    </ul>
                </li>
                #if($adminConsolePages.size() > 0)
                    <li id="nav-heading">
                        <span class="nav-heading-section">Custom</span>
                        <ul>
                            #foreach($page in $adminConsolePages)
                                <li>
                                    <a href="customAdminPage.vm?name=$esc.html($page.name)&url=$page.url">$page.name</a>
                                </li>
                            #end
                        </ul>
                    </li>
                #end
            </ul>
        </div>
    </div>

    <div id="content">
