#parse("/org/jboss/capedwarf/admin/header.vm")

<h2>Logs</h2>
<form action="logs.vm">
    Show:
    <input type="radio" name="show" value="all" id="showAll" #if($logViewer.showAll) checked="checked" #end />
    <label for="showAll">All requests</label>

    <input type="radio" name="show" value="withMinimumSeverity" #if(!$logViewer.showAll) checked="checked" #end id="showWithMinimumSeverity"/>
    <label for="showWithMinimumSeverity">Logs with minimum severity:</label>

    <select id="severitySelect" name="severity">
        #foreach($severity in $logViewer.severities)
            <option value="$severity" #if($severity.equals($logViewer.severity)) selected="selected" #end>$severity</option>
        #end
    </select>
    <input type="hidden" name="page" value="1" id="pageField"/>
    <input type="submit" value="Search"/>
</form>

<br/><br/>

<ul class="ae-logs">
    #foreach ($requestLog in $logViewer.requestLogs)
        <li class="ae-log">
            <span class="time">$timeFormatter.format($requestLog.endTimeUsec)</span>
            <span class="file">$esc.html($requestLog.resource)</span>
            <span class="snippet" title="Status">$requestLog.status</span>
            <span class="snippet" title="Request time/Latency">${requestLog.pendingTimeUsec}ms</span>
            <span class="snippet" title="Response size">$sizeFormatter.format($requestLog.responseSize)</span>
            <span class="snippet" title="User Agent">$requestLog.userAgent</span>
            #if($requestLog.appLogLines.size() > 0)
                <ul class="ae-log-lines">
                #foreach ($appLogLine in $requestLog.appLogLines)
                    <li>
                        <span class="ae-log-severity ae-log-severity-$appLogLine.logLevel.name().charAt(0)">$appLogLine.logLevel.name().charAt(0)</span>
                        <span>$timeFormatter.format($appLogLine.timeUsec)</span>
                        <span class="snippet">$appLogLine.logMessage</span>
                    </li>
                #end
                </ul>
            #end
        </li>
    #end
</ul>



#if($logViewer.numberOfPages > 1)
    <div class="pagination">
        #foreach ($page in [1..$logViewer.numberOfPages])
                <a href="javascript:void(0)" onclick="showPage($page)" #if($page == $logViewer.currentPage) class="active" #end">$page</a>
        #end
    </div>

    <script type="application/javascript">
        function showPage(page) {
            document.getElementById("pageField").value = page;
            document.forms[0].submit();
        }
    </script>
#end



<div class="ae-log-legend">
    <strong>Legend:</strong>
    <ul>
    #foreach($severity in $logViewer.severities)
        <li>
            <span class="ae-log-severity ae-log-severity-$severity.charAt(0)">$severity.charAt(0)</span>
            $severity
        </li>
    #end
    </ul>
</div>

#parse("/org/jboss/capedwarf/admin/footer.vm")